@import '~Styles/base';

$namespace: 'elementHeader';

.#{$namespace} {
    width: 100%;
    height: $headerHeight;
    overflow: hidden;

    &.chartViewPage {
        height: 5px;
        transition: all 1s ease 2s;

        &:hover {
            height: $headerHeight;
            transition: all .6s ease;

            .contentWrapper {
                top: 0;
                transition: all .6s ease;
            }
        }
        
        .contentWrapper {
            top: -$headerHeight;
            transition: all 1s ease 2s;
        }
    }

    .contentWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        background-color: $headerBg;
        
    }

    .logo {
        position: relative;
        height: $headerHeight;

        & > a {
            width: 75px;
            height: 100%;
            display: inline-block;
            @include apply-from(tablet) {
                width: 112px;
            }
        }

        svg {
            max-width: 100%;
            height: 100%;
        }

        .versionText {
            display: inline-block;
            color: #1890ff;
            width: auto;
            font-size: 11px;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    .nav {
        flex: 1 0 auto;
    }

    .account {
        width: 170px;
    }

    .locale {
        box-sizing: border-box;
        padding-right: 10px;
    }
}